body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #aec395; /* Hintergrundfarbe Grün setzen */
}

p {
    font-weight: bold; /* Fettschrift für den Paragraphen */
}

#container {
    position: relative;
    width: 1200px;
    height: 800px;
}

.area {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: -1;
}

.area img {
    width: 130%;
    height: 130%;
}

#area1 { top: 540px; left: 730px; }
#area2 { top: 270px; left: 200px; }
#area3 { top: 70px; left: 660px; }
#area4 { top: 10px; left: 30px; }
#area5 { top: 40px; left: 400px; }
#area6 { top: 10px; left: 920px; }
#area7 { top: 530px; left: 350px; }
#area8 { top: 500px; left: 20px; }
#area9 { top: 300px; left: 500px; }

#area10 { top: 270px; left: 850px; }
#area11 { top: 270px; left: 900px; }
#area12 { top: 290px; left: 820px; }
#area13 { top: 300px; left: 880px; }
#area14 { top: 340px; left: 890px; }

.draggable {
    width: 80px;
    height: 120px;
    position: absolute;
    cursor: grab;
}